<!doctype html>
<html lang="en-US">
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/style.css">
<meta name="viewport" content="width=device-width">
<!--[if lt IE 9]>
     <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<title>Compersia</title>
    <body class="grey-bg">
        <div class="wrapper">
            




















<div class="nav-wrapper">
     <div class="nav-bar">
          <div class="nav-logo">
               <img src="/assets/images/fl-logo.svg">
          </div>
          <ul class="nav">
               
               
               <li class="nav-item"><a href="/">Projects</a></li>
                    
               
               <li class="nav-item"><a href="/arc.html">ARC</a></li>
                    
               
               <li class="nav-item"><a href="/services.html">Services</a></li>
                    
               
               <li class="nav-item current"><a href="/views">Views</a></li>
                    
               
               <li class="nav-item"><a href="/contact.html">Contact</a></li>
                    
          </ul>

     </div>
     
     <div class="sub-nav">
          
          
          <div class="sub-nav-item subfolder-title">
               Research
          </div>
          
          
          <a class="sub-nav-item" href=https://www.memory-work.com>Memory Work</a>
          
          <a class="sub-nav-item" href=/views/research/fertilizer.html>Fertilizer</a>
          
          <a class="sub-nav-item" href=/views/research/interval.html>Interval</a>
          
          <a class="sub-nav-item" href=/views/research/compersia.html>Compersia</a>
          
          
          
          <div class="sub-nav-item subfolder-title">
               Recordings
          </div>
          
          
          <a class="sub-nav-item" href=/views/recordings/lonelyarcade.html>Lonely Arcade</a>
          
          <a class="sub-nav-item" href=/views/recordings/allofyou.html>All of You</a>
          
          
          
          <div class="sub-nav-item subfolder-title">
               Sensemaking
          </div>
          
          
          <a class="sub-nav-item" href=/views/sensemaking/broadcast.html>Broadcast</a>
          
          <a class="sub-nav-item" href=http://allrelevantchange.com>COVID-19 uncertainties</a>
          
          <a class="sub-nav-item" href=https://dust.fromlater.com>DUST</a>
          
          
          
          <div class="sub-nav-item subfolder-title">
               Articles
          </div>
          
          
          <a class="sub-nav-item" href=https://learn.marsdd.com/article/strategic-foresight-for-smes-and-startups/>Strategic foresight for SMEs</a>
          
          <a class="sub-nav-item" href=https://learn.marsdd.com/article/foresight-in-five-steps-for-smes-and-startups/>Foresight in five steps</a>
          
          <a class="sub-nav-item" href=https://learn.marsdd.com/article/what-are-weak-signals-of-change/>What are weak signals?</a>
          
          <a class="sub-nav-item" href=https://learn.marsdd.com/article/how-to-scan-for-weak-signals-of-change/>How to scan for weak signals</a>
          
          <a class="sub-nav-item" href=https://learn.marsdd.com/article/scenario-planning-for-strategic-decision-making/>On scenario planning</a>
          
          <a class="sub-nav-item" href=https://learn.marsdd.com/article/covid-19-building-futures-in-the-midst-of-a-crisis/>Building futures amidst COVID-19</a>
          
          
     </div>
</div>


            <header class="left-bar">
    
    <h1>Compersia</h1>
    
    <div class="generic-tag">
        
        
        
        <code>SCENARIO:</code> Compersia is a mass-polyamory scenario characterized by multi-layered complex structures of transient kinship. Communication and ethics innovations empower people to negotiate quality relationships where partners find joy in their partners’ joy.<br>
        
        
        
        <code>FILE UNDER:</code> Research-based, near-term, speculative futures; design fiction<br>
        
        
        
        <code>PROJECT LEAD:</code> [ Macy Siu ] <em>from later</em><br>
        
        
        
        <code>RESEARCH:</code> M. Siu, R. Bolton, U. Vira, A. Alikpala<br>
        
        
    </div>
    
</header>

<script>
    window.onscroll = function () {
        headerEl = document.getElementsByTagName("header")[0];
        footerEl = document.getElementsByTagName("footer")[0];
        pos = document.getElementsByClassName("nav-wrapper")[0].offsetHeight;
        followTo(pos, headerEl, 0);
        followTo(pos, footerEl, headerEl.offsetHeight);
    };
    /*
    pos: position to trigger snapping
    fix: position to fix to
    */
    function followTo(pos, el, fix) {
        if (document.body.scrollTop > pos || document.documentElement.scrollTop > pos) {
            el.style.top = fix + 'px';
            el.style.position = "fixed";
        } else {
            el.style.position = "relative";
            el.style.top = "";
            el.style.bottom = "";
        }
    }
</script>
            <section class="right-side">
                    <p>Compersia is a speculative future scenario. Based on signals of change observed in the world today, it is designed to provoke critical dialogue and inspire new thinking. Click the headings below to learn more about Compersia and the signals of change that informed it.</p>

<ul class="highlight-block">
  <li><a href="#-scenario-"> Scenario </a></li>
  <li><a href="#-research-"> Research </a></li>
  <li><a href="#-artifacts-"> Artifacts </a></li>
</ul>

<h2 id="-scenario-">[ Scenario ]</h2>

<p>In the near future Compersia scenario, a confluence of socio-economic and technological factors are changing the nature of adulthood. People expect their lives to be more transient — dynamic and fluid rather than stable and consistent. The initialism T.D.F.P. (Transient Dynamic Fluid and Pluralistic) emerges in common parlance to describe their lifestyle. Milestones like marriage, parenthood, and home-ownership are delayed due to economic necessity or altogether discarded by a values hierarchy that prioritizes gratification over tradition.</p>

<p>A generation disillusioned with the institution of marriage views monogamy with realism and handles relationships with pragmatism. Having grown up in fragmented homes, their baggage equips them to seriously acknowledge the obvious: that even “committed life-partner relationships” are temporary. And, as products of the Social Internet, they’re accustomed to abundance of choice, and expect the same kind of optionality in matters of love.</p>

<p>Through the early ‘20s, a cambrian explosion of relationship types set tradition into flux. En masse, people began establishing their own unique polycules, multi-layered complex structures of kinship and non-monogamous romance.</p>

<p>Meanwhile, conservative values sought to protect the fidelitinormative home. Commentators criticised the polyamorous lifestyle as not only immoral, but also unfeasible. Maintaining a healthy two-person relationship was challenging enough. Managing the needs and desires of many partners in a complex polycule was just a recipe for drama. Or so went the argument.</p>

<p>The critics were silenced in 2023, when the long period of tension came to a head. Dubbed Vulnerable Summer, anarcho-love festivals and hackathons organized by global TDFP advocates dominated news cycles, eventually swaying popular opinion. The relationship maker movement emerged, designing new ways of forming tailored relationships with recognized terms of agreement.</p>

<p>Polyamory revealed itself as a platform for innovation with real economic value. It sparked the foundings of new varieties of membership-based wellness hubs. New service professions, holistic matchmakers and lifestyle transitionists, facilitated people’s absorption into polycules. And at the intersection of ethics and design, arose a wave of tools for expectation arbitration, dispute resolution, and egalitarian living.</p>

<p>The new Culture of Compersion produced the most significant revolution in communication since networked media; what the Information Age did for scale of communication, Compersia did for quality of communication.</p>

<p><img src="/assets/images/compersia_naz_r_large.jpg" alt="" />
<em>art by Naz Rahbar</em> <a href="https://www.instagram.com/naz.rahbar/">∎</a></p>

<h2 id="-research-">[ Research ]</h2>

<p>Compersia is a research-based speculative fiction. The following research themes – <em>Transient Lifestyles</em>; <em>Identity Complexity</em>; <em>New Forms of Kinship</em>; <em>Non-monogamy</em>; <em>Designing Relationship Wellness</em>; and <em>Augmenting Understanding</em> – informed the scenario and future artifacts. The themes and instances below provide context for imagining how historical and present-day issues could evolve.</p>

<h3 id="transient-lifestyles">Transient Lifestyles</h3>

<p>A confluence of socio-economic and technological factors are creating the conditions for more transient life stages, lifestyles, and living situations.</p>

<p><strong>The “world of barren opportunities facing today’s young people”</strong> means that basic stages of adulthood are no longer attainable at the same time as previous generations, leading to a certain need for transience around housing, jobs, and relationships. <a href="https://www.theguardian.com/world/2016/mar/07/revealed-30-year-economic-betrayal-dragging-down-generation-y-income" target="\_bank">∎</a></p>

<p><strong>The Collective London</strong> offers “a new way to live, work, and play.” It is the largest shared living space designed for millennials, who are extending the transient period of early adulthood longer than any previous generation. <a href="https://www.thecollective.com/" target="\_bank">∎</a></p>

<p><strong>Egalitarian economic arrangements of full income sharing</strong>, along with other cooperative structures of living, are gaining popularity and shifting from more rural agricultural homesteads to urban group houses in major city centers. The Federation of Egalitarian Communities, for example, is a network of communal groups across North America, joined together to create a lifestyle based on equality, cooperation, and harmony. <a href="http://www.thefec.org/communities/" target="\_bank">∎</a></p>

<h3 id="identity-complexity">Identity Complexity</h3>

<p>New and newly visible ways of forming identity reveal that it is not only intersectional but may also be plural, fluid, and dynamic. As a result, the variety of recognized social identities is proliferating. With implications for language, infrastructure, safety, and healthcare – the politics of identity are an area of considerable controversy and conflict.</p>

<p><strong>The dating app, Tinder, has introduced thirty-seven new gender options</strong>, allowing users to select and update their status at will. <a href="https://blog.gotinder.com/genders/" target="\_bank">∎</a></p>

<p><strong>California’s “Gender Recognition Act,”</strong> recognizes a third, non-binary gender category for Californians who do not identify as either male or female. The state has introduced gender-neutral birth certificates. <a href="https://www.smithsonianmag.com/smart-news/california-becomes-first-state-introduce-gender-neutral-birth-certificates-180965343/#g84be8QpMyw34WMu.99" target="\_bank">∎</a></p>

<p><strong>The Internet meme, “I sexually identify as an attack helicopter”</strong> represents a view that dismisses identity liberalism as ridiculous, excessively politically correct, and counterproductive to rational thought. <a href="https://knowyourmeme.com/memes/i-sexually-identify-as-an-attack-helicopter" target="\_bank">∎</a></p>

<h3 id="new-forms-of-kinship">New Forms of Kinship</h3>

<p>Kinship today has evolved beyond nuclear-family norms into multilayered and complex structures. People are experimenting with different ways of coupling, having kids, pooling resources, dividing labour, living together, and parting ways that are beyond inherited norms and presumptions.</p>

<p><strong>“A cambrian explosion of different relationship patterns”</strong> is how evolutionary psychologist Geoffrey Miller describes the evolving forms of kinship; even the ones that fail could significantly alter monogamy and how it’s exercised. <a href="https://www.youtube.com/watch?v=G5M8r9sLKi0&amp;feature=youtu.be&amp;t=27m" target="\_bank">∎</a>
<strong>Fictive kin</strong> is someone not related by blood, marriage, or adoption who is considered to play the role of a family member. This has the potential to become more widespread as the number of solo households in Canada continues to rise. <a href="https://www.theglobeandmail.com/life/fictive-kinship-it-turns-out-you-can-pick-your-family/article7493317/" target="\_bank">∎</a>
<strong>Relationship anarchy (RA)</strong> is a term coined by Swedish activist and creative, Andie Nordgren, who wrote the Relationship Anarchy Manifesto in 2012. This different approach to relationships centers around principles of individual autonomy, ongoing negotiation, and a disregard for hierarchies between romantic, sexual, and platonic relationships. <a href="https://theanarchistlibrary.org/library/andie-nordgren-the-short-instructional-manifesto-for-relationship-anarchy" target="\_bank">∎</a></p>

<h3 id="non-monogamy">Non-monogamy</h3>

<p>Ethical non-monogamy and polyamory is seemingly on the rise as a growing movement to create vocabulary, popular media, and visual tools that represent these relationships gain visibility in our everyday life.</p>

<p><strong>Compersion</strong> is a word used within the polyamory community that refers to the feeling of joy associated with seeing a loved one love another; it’s a term contrasted with jealousy. <a href="https://en.wiktionary.org/wiki/compersion" target="\_bank">∎</a></p>

<p><strong>Humans are bad at monogamy</strong>, according to evidence uncovered by historians and evolutionary biologists. As a species that was once fiercely egalitarian and non-monogamous, humans invented monogamy and marriage for love as a self-imposed system of social construction that only began in the 1700s to enforce gender roles and social order. <a href="https://www.vox.com/2018/5/23/17345762/monogamy-explained-netflix-marriage-sex-love-dating" target="\_bank">∎</a></p>

<p><strong>Canadians think polyamory relationships are on the rise</strong>, according to a 2016 study conducted by the Canadian Research Institute for Law and the Family. Over 68% of respondents said that they are currently involved in a polyamorous relationship, and over 80% believed that the number of people who identify as polyamorous, and the number of people who are openly involved in polyamorous relationships are increasing. <a href="https://vanierinstitute.ca/polyamory-in-canada-research-on-an-emerging-family-structure/" target="\_bank">∎</a></p>

<p><strong>New lexicon around relationships</strong>, including coined terms like “monogamish”, “situationship”, and “satellite lovers”, is providing the vocabulary to destigmatize and normalize more transient, open, and egalitarian models of relationships. Even in polyamorous relationships, ingrained social notions around fidelity in marriages or closed relationship structures are challenged with new terms like “fidelitinormativity”. <a href="https://www.nytimes.com/2011/07/03/magazine/infidelity-will-keep-us-together.html" target="\_bank">∎</a><a href="https://www.facebook.com/multiamory/posts/multiwordery!-%22fidelitinormativity%22-(n-)-the/858646047670424/" target="\_bank">∎</a></p>

<p><strong>The Map of Non-Monogamy</strong>, last updated in 2017, was developed by Franklin Veaux as a sexual informatics tool to encourage better understanding of evolving and overlapping forms of alternative relationships. <a href="http://blog.franklinveaux.com/2017/12/an-update-to-the-map-of-non-monogamy/" target="\_bank">∎</a></p>

<h3 id="designing-relationship-wellness">Designing Relationship Wellness</h3>

<p>As an antidote to the added complexity of multi-person relationships, the polyamory community is on the bleeding edge of a movement to create tools for designing functioning relationships and negotiating expectations among partners.</p>

<p><strong>The Periodic Table of Polycules</strong> is one of many recent attempts to describe polycules – structural systems of connected non-monogamous relationships – through visualizations and taxonomies. <a href="https://bygollyimpoly.tumblr.com/post/153904530339/forkedprocess-periodic-table-of-the-polycules" target="\_bank">∎</a></p>

<p><strong>The Relationship Anarchy Smorgasboard</strong> was developed as a tool for partners to articulate their needs and agree on which needs their relationship addresses. <a href="https://www.reddit.com/r/polyamory/comments/5jebwg/relationship_anarchy_smorgasbord_choose_your/" target="\_bank">∎</a></p>

<p><strong>The Relationship Bill of Rights</strong> is first captured in the ethics chapter of More Than Two by Eve Rickert and Franklin Veaux. It enforces the idea that every person should be able to have a voice in their relationships, no matter the forms these relationships may take. It also promotes empowerment through the notion of building resilience within relationships, as opposed to disempowerment that stems from rigid and non-negotiable rules of control. <a href="https://www.morethantwo.com/relationshipbillofrights.html" target="\_bank">∎</a><a href="https://www.morethantwo.com/blog/2014/10/relationship-bor" target="\_bank">∎</a></p>

<p><strong>Relationship contracts</strong> are on the rise as partners take deliberate and considerate steps to find common ground in their romances by articulating their needs and wants in writing. <a href="https://www.nytimes.com/2017/06/23/style/modern-love-to-stay-in-love-sign-on-the-dotted-line-36-questions.html" target="\_bank">∎</a><a href="https://www.facebook.com/ComedyCentral/videos/relationship-contract-broad-city/419528692131026/" target="\_bank">∎</a></p>

<h3 id="augmenting-understanding">Augmenting Understanding</h3>

<p>An emerging set of digital tools – for improving quality of communication and collaboration; arbitrating decision-making processes; and maintaining records of agreements among multiple people – could change the way we find mutual understanding and reach collective consensus.</p>

<p><strong>Crystal Knows</strong>, “the app that tells you anyone’s personality,” uses a combination of traditional assessments, social media analysis, and text analysis to provide accurate personality profiles, explain relationship dynamics, and offer advice that helps teams communicate more effectively. <a href="https://www.crystalknows.com/" target="\_bank">∎</a></p>

<p><strong>Pol.is</strong> is a data visualization tool that helps organizations engage in conversation and track collective beliefs by spatially representing people’s positions on issues. <a href="https://pol.is/home" target="\_bank">∎</a></p>

<p><strong>Loomio</strong> is a suite of digital decision tools designed to surface misunderstandings, resolve issues, highlight agreements, and maintain collective cognizance. <a href="https://www.loomio.org/" target="\_bank">∎</a></p>

<p><strong>Smart Contracts</strong>, or computerized transaction protocols, are self-executing contracts, where the terms of the agreement are written into lines of code. <a href="http://www.fon.hum.uva.nl/rob/Courses/InformationInSpeech/CDROM/Literature/LOTwinterschool2006/szabo.best.vwh.net/smart.contracts.html" target="\_bank">∎</a></p>

<h2 id="-artifacts-">[ Artifacts ]</h2>

<p>The following artifacts from later provide a glimpse into the speculative future world, Compersia.</p>

<p>Artifacts from later focus on particular details of a scenario to represent the greater state of the future world. They are designed as conversation starters and prompts for you to imagine what it might be like to experience life in a possible future environment.</p>

<h3 id="1--recordings--from-later"><strong>1. [ Recordings ]</strong> <em>from later</em></h3>

<p><strong>1.1 All of You</strong></p>

<p><a href="https://recordings.fromlater.com/allofyou.html">“All of You”</a>is a love song from Compersia. Listen <a href="https://recordings.fromlater.com/allofyou.html">here</a> or on Spotify, Soundcloud, Apple Music, Amazon, Google Play and other streaming services.</p>

<h3 id="2--ephemera--from-later"><strong>2. [ Ephemera ]</strong> <em>from later</em></h3>

<p>The following artifacts from later present ephemeral traces of the future world, Compersia.</p>

<p><strong>2.1 <em>The Modest Proposal</em></strong></p>

<p><em>The Modest Proposal</em> is a complex relationship design tool. It enables multi-partner relationship formation through the smart synthesis of personal preferences and interactive agreement-making. Aspects of The Modest Proposal explore how relationship agreement frameworks within the polyamory community today, such as The Relationship Bill of Rights and The Relationship Anarchy Smorgasbord, may evolve in a near future world where usage of such frameworks are amplified. The images below capture moments within the interactive experience of negotiating a relationship using the tool.</p>

<p><img src="/assets/images/ModestProposal-3.jpg" alt="" /></p>

<p><img src="/assets/images/ModestProposal-4.jpg" alt="" /></p>

<p><img src="/assets/images/ModestProposal-5.jpg" alt="" /></p>

<p><strong>2.2 Compersia: <em>The Game</em></strong></p>

<p>The Compersia card game is a workshop activity exploring communication modes and ethics that strengthen ambiguous and uncomfortable relationships. Players embody the roles of specific characters and are tasked to design a poly-relationship seeking to fulfill each of their wants and needs. By collaboratively and iteratively “prototyping” possible relationship structures and agreements, players must find ways to advocate for, as well as empathize with, the different dimensions of the relationships that they each value. This game of love and life allows players to develop a shared comfort with ambiguity through collective resilience empowered by the question, “Is everyone okay with this?”</p>

<p>The game was first workshopped at the SXSW x Mercedes Benz – Me Convention on September 5, 2018 in Stockholm, Sweden.</p>

<p><img src="/assets/images/compersia_personacards-4.jpg" alt="" /></p>

<p><img src="/assets/images/compersia_polyculedesign.jpg" alt="" /></p>

            </section>
            <footer class="left-bar">
    <div class="social">
        <br>
        <p>Email us at <a href="mailto:mail@fromlater.com">mail@fromlater.com</a></p>
        <p>Subscribe to our newsletter:</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form
                action="https://fromlater.us17.list-manage.com/subscribe/post?u=b1b32d764bc713886074f83b3&amp;id=2895e0feb8"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                        <!-- <label for="mce-EMAIL">e-mail </label> -->
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                            placeholder="Your email">
                        <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe"
                            class="button">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_b1b32d764bc713886074f83b3_2895e0feb8" tabindex="-1" value=""></div>
                    <!-- <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div> -->
                </div>
            </form>
        </div>
        <!--End mc_embed_signup-->
        <br>
        <p class="dim">You can unsubscribe at any time by clicking on the unsubscribe link at the bottom of our emails.
        </p>
        <div class="social-links">
            <div>
                <a href="https://twitter.com/since21XX">Twitter</a>
            </div>
            <div>
                <a href="https://www.are.na/from-later">Are.na</a>
            </div>
            <div>
                <a href="https://www.youtube.com/channel/UCfG3rgQK6iwTKTDEPQRl88Q">YouTube</a>
            </div>
            <div>
                <a href="https://linkedin.com/company/fromlater">LinkedIn</a>
            </div>
            <div>
                <a href="https://instagram.com/memorywork_">Instagram</a>
            </div>
        </div>
    </div>
</footer>
        </div>
    </body>
    
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-110955218-3', 'auto');
ga('send', 'pageview');
</script>

</html>
