---
---

@import "from-later";


#main-logo {
    width:100%;
}

.tagnumber {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    display: inline-block;
    font-size: 24px;
    font-weight: 100;
    padding: 0px;
    width: 50%;
    text-align: center;
}

#accordion>h2 {
    cursor: pointer;
}

audio {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.fllogo {
    width: 20%;
    margin: auto;
    display: block;
}

.logocopyright {
    text-align: center;
    font-size: 10px;        
}

.introtext {
    color: black;
    font-weight: normal;
    border-bottom-color: grey;
    border-bottom-width: thin;
    border-bottom-style:solid;
    padding-bottom: 15px;
}

#accordion p, #accordion ul, #accordion h3, #accordion .highlighter-rouge {
    display: none;
}	    

#accordion h2 {
    display: block;
}

.active {
    background-color: #FFFF00;
}

.right-side-copyright {
    margin-top: 160px;
    padding-top: 15px;
    border-top-color: lightgray;
    border-top-width: thin;
    border-top-style:solid;
    font-size: 0.6em;
    .copyright-left{
        max-width:30%; 
        float:left;
    }
    .copyright-right{
        max-width:30%; 
        float:right;
    }
}

#fl-tag {
    color: black;
    background-color: #fff;
    border: dashed;
    border-width: 1.5px;
    border-color: #000000;
    font-size: 0.8em;
    margin-top: 10px;
}

input[type=submit] {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    background-color: #FFFF00;
    min-height: 2em;
    border: 0;
}

input[type=email] {
    font-family: 'Courier', sans-serif;
    padding-left: 5px;
    border-width: 0;
    min-width: 65%;
    min-height: 2em;
}
input[type=email]:focus {
    font-family: 'Courier', sans-serif;
    height: 1.5 em;
    outline: 1px solid #000000;
}

footer {
    bottom: 10px;
    width: 300px;
}

header {
    width:300px;
}

.tagbottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

#innertag {
    position: relative;
    padding: 12px;
    padding-bottom: 5px;
    color: #3d3d3d;
}

.tag-number {
    position: absolute;
    top: 3px;
    right: 15px;
    font-family: 'Courier';
    color: black;
    font-size: 3em;
}
#innertag > code {
    font-family: 'Roboto', sans-serif;
}

.song-title {
    font-size: 60px;
    width: 220px;
    line-height: 1.5;
}

.num02 {
    font-size: 50px;
    line-height: 1;
}

.container > img {
    width: 220px;
    height: 220px;
    margin: auto;
    margin-bottom: 20px;
    padding: 0 0 0;
    
}

.container {
    padding: 0;
    margin: 0;
    
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    justify-content: center;
}

.grey-bg {
       
    padding-top: 50px;
    background: #E8E6E5;

    .left-bar {

        #main-logo {
            width: 200px;
            margin: auto;
            display: block;
            margin-bottom: 20px;
            cursor: pointer;
        }
        font-size:0.8em;
        .main-footer {
            font-size:0.8em;
            padding-top: 20px;
            margin: auto;
            /* padding-top: 150px;*/
            margin: auto;
            //font-size: 12px;
            text-align: center;
          
    
        }
    }
    #twitter {
        width:15px;
        filter: invert(100%); 
        margin-right:15px;
    }
    #insta {
        width:15px;
        margin-right:15px;
    }
    hr {
            text-align: center;
            margin: auto;
            width: 50px;
            height: 1px;
            background: black;
    }

    .right-side {
        float:right;
        .main-menu-bar {
            width: 100%;
            padding-bottom: 1em;
            .main-menu {
                float: right;
                padding-bottom: 0px;
                .menu-item {
                    display: inline;
                    font-size: 1em;
                    color: grey;
                    font-family: 'Courier New', Courier, monospace;
                    cursor: pointer;
                    padding-right: 20px;
                }
                .menu-item:hover {
                    text-decoration: underline;
                    text-decoration-color: grey;
                }
                .selected {
                    text-decoration: underline;
                    text-decoration-color: blue;
                    color: black;
                }
            }
        }
    }
}