{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
{% if fullurl == page.url %}
{% assign current_page = fullurl %}
{% break %}
{% elsif page.url contains fullurl %}
{% assign current_page = fullurl %}
{% endif %}
{% endfor %}

<div class="nav-wrapper">
     <div class="nav-bar">
          <div class="nav-logo">
               <img src="{{ '/assets/images/fl-logo.svg' | relative_url }}">
          </div>
          <ul class="nav">
               {% for entry in site.data.navigation %}
               {% if entry.url == current_page %}
               {% assign class = ' class="nav-item current"' %}
               {% assign subfolders = entry.subfolders %}
               {% else %}
               {% assign class = ' class="nav-item"''  %}
               {% endif %}
               <li{{ class }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
                    {% endfor %}
          </ul>

     </div>
     {% if subfolders %}
     <div class="sub-nav">
          {% for subfolder in subfolders %}
          {% if subfolder.url %}
          <a class="sub-nav-item subfolder-title" href={{ subfolder.url }}>{{ subfolder.title }}</a>
          {% else %}
          <div class="sub-nav-item subfolder-title">
               {{ subfolder.title }}
          </div>
          {% endif %}
          {% for item in subfolder.subfolderitems %}
          <a class="sub-nav-item" href={{ item.url }}>{{ item.title }}</a>
          {% endfor %}
          {% endfor %}
     </div>
</div>

{% endif %}