---
---

@import "from-later";


#main-logo {
    width:100%;
}

.tagnumber {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    display: inline-block;
    font-size: 24px;
    font-weight: 100;
    padding: 0px;
    width: 50%;
    text-align: center;
}

#accordion>h2 {
    cursor: pointer;
}

audio {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.fllogo {
    width: 20%;
    margin: auto;
    display: block;
}

.logocopyright {
    text-align: center;
    font-size: 10px;        
}

.introtext {
    color: black;
    font-weight: normal;
}

#accordion p, #accordion ul, #accordion h3, #accordion .highlighter-rouge {
    display: none;
}	    

#accordion h2 {
    display: block;
}

.active {
    background-color: #FFFF00;
}

#fl-tag {
    color: black;
    background-color: #f4f4f4;
    border: dashed;
    border-width: thin;
    border-color: #727272;
    font-size: 0.8em;
    margin-top: 10px;
}

#innertag {
    padding: 20px;
    padding-bottom: 5px;
}


footer {
    bottom: 10px;
    width: 300px;
}

header {
    width:300px;
}

.tagbottom {
    padding-top: 20px;
    padding-bottom: 20px;
}



.item-tag {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    border: dashed;
    border-width: thin;
    border-color: #727272;
    .innertag {
        padding: 10px 10px 10px;
        background-color: white;
        font-size: 14px;
        line-height: 1.5;
    }
}

.song-title {
    font-size: 60px;
    width: 220px;
    line-height: 1.5;
}

.num02 {
    font-size: 40px;
    line-height: 1;
}
.container > img {
    width: 220px;
    height: 220px;
    margin: auto;
    margin-bottom: 20px;
    padding: 0 0 0;
    
}


.container {
    padding: 0;
    margin: 0;
    
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    justify-content: center;
}

.grey-bg {
       
    padding-top: 50px;
    background: #E8E6E5;

    .left-bar {

        #main-logo {
            width: 200px;
            margin: auto;
            display: block;
            margin-bottom: 20px;
            cursor: pointer;
        }
        font-size:0.8em;
        .main-footer {
            font-size:0.8em;
            padding-top: 20px;
            margin: auto;
            /* padding-top: 150px;*/
            margin: auto;
            //font-size: 12px;
            text-align: center;
          
    
        }
    }
    #twitter {
        width:15px;
        filter: invert(100%); 
        margin-right:15px;
    }
    #insta {
        width:15px;
        margin-right:15px;
    }
    hr {
            align: center;
            text-align: center;
            margin: auto;
            width: 50px;
            height: 1px;
            background: black;
    }

    .right-side {
        float:right;
        .main-menu-bar {
            width: 100%;
            padding-bottom: 1em;
            .main-menu {
                float: right;
                padding-bottom: 0px;
                .menu-item {
                    display: inline;
                    font-size: 1em;
                    color: grey;
                    font-family: 'Courier New', Courier, monospace;
                    cursor: pointer;
                    padding-right: 20px;
                }
                .menu-item:hover {
                    text-decoration: underline;
                    text-decoration-color: grey;
                }
                .selected {
                    text-decoration: underline;
                    text-decoration-color: blue;
                    color: black;
                }
            }
        }
    }
}